<html>
    <head>
        {% if title %}
        <title>thankspace.co - {{ title }}</title>
        {% else %}
        <title>thankspace, share your blessings</title>
        {% endif %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clorstyles.css') }}">
    </head>
    <body>

        <div class="base-container">
            <div class="header-overall">
                <div class="header">
                    <div class="thankspace">
                        <div class='big-text'><a href="{{url_for('index')}}" class='light-text'>thankspace.co</a></div>
                    </div>
                    <div class="text-right">
                        {% if current_user.is_anonymous %}
                        <a href="{{url_for('register')}}"><button type="button" class="btn btn-primary font-weight-bold">Register</button></a>
                        <a href="{{url_for('login')}}"><button type="button" class="btn btn-primary font-weight-bold">Login</button></a>
                        {% else %}
                        <a href="/@{{current_user.handle}}" class="light-text">@{{current_user.handle}}</a>
                        <a href="{{url_for('logout')}}"><button type="button" class="btn btn-primary font-weight-bold">Logout</button></a>
                        {% endif %}

                    </div>
                </div>

                <hr class="top">
            </div>


            <div class="follow-unf">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert" style="margin-right:30px">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>

            {% block page_content %}{% endblock %}

        </div>

    </body>
</html>