{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="row">
    <!-- <div class="col-md-3">
        Stuff
    </div> -->

    <div class="col-md-4 text-left">
        <div class="light-text display-3 w-25 text-left">I'm grateful for</div>
        <form method="post" role="form" enctype="multipart/form-data">
            {{ grateful_form.csrf_token }}
            {{ wtf.form_errors(grateful_form, hiddens="only") }}
            <div class="row">
                {{ grateful_form.item1(class="ts-form post-form", placeholder=placeholders[0]) }}
            </div>
            <div class="row">
                {{ grateful_form.item2(class="ts-form post-form", placeholder=placeholders[1]) }}
            </div>
            <div class="row">
                {{ grateful_form.item3(class="ts-form post-form", placeholder=placeholders[2]) }}
            </div>
            <div class="row">
                {{ wtf.form_field(grateful_form.submit, button_map={'submit':'primary'}) }} 
            </div>
        </form>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4 text-left">
        {% if feed %}
        <div class="h1">Feed</div>
        <div class="overflow-auto">
            {% for post in feed %}
            {{post.item1}}
            {{post.item2}}
            {{post.item3}}
            <br>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}