{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form method="post" role="form" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div class="row">
        <label for="emailInput" class="col-md-3 login-label display-3">Email</label>
        {{ form.email(class="ts-form post-form col-md-4", id="emailInput", placeholder='email') }}
    </div>
    <div class="row">
        <label for="passwordInput" class="col-md-3 login-label display-3">Password</label>
        {{ form.password(class="ts-form post-form col-md-4", id="passwordInput", placeholder='pw') }}
    </div>
    <div class="row">
        <label for="rememberInput" class="col-md-3 login-label display-3">Remember</label>
        {{ form.remember_me(class="col-md-4", id="rememberInput") }}
    </div>
    <div class="row">
        {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }} 
    </div>
</form>
{% endblock %}